/* Resetear estilos y estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0c0c0c;
    color: #fff;
    margin: 0; /* Eliminar el margen del cuerpo */
    padding: 0;
    overflow-x: hidden; /* Evitar que las imágenes creen una barra de desplazamiento horizontal */
}

.container {
    max-width: 100%; /* Ancho máximo de la ventana del navegador */
    padding: 0; /* Eliminar el relleno */
    margin: 0; /* Eliminar los márgenes */
}

/* Estilos para el header */
header {
    background-color: rgba(0, 0, 0, 0.7); /* Color de fondo semi-transparente */
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header img {
    max-width: 100px;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline;
    margin-right: 10px;
}

header ul li:last-child {
    margin-right: 0;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}

header ul li a:hover {
    color: #cf0000;
}

.gallery {
    margin-top: 100px; /* Espacio superior para evitar que la imagen cubra el encabezado */
    text-align: center;
}

.gallery img {
    width: 100vw; /* Ancho igual al 100% del ancho de la ventana del navegador */
    height: auto; /* Altura ajustable */
    border-radius: 10px;
    overflow: hidden;
}

footer {
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semi-transparente */
    padding: 20px 0; /* Reducir el espacio entre el pie de página y el contenedor */
    text-align: center;
    position: fixed; /* Fijar el footer en la parte inferior */
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0; /* Eliminar el margen interior del párrafo en el footer */
    color: #fff; /* Cambiar el color del texto a blanco */
}

.fade-in {
    opacity: 1;
}

.image-container {
    width: 100vw; /* Ancho igual al 100% del ancho de la ventana del navegador */
    overflow: hidden; /* Evitar que la imagen desborde el contenedor */
}

.image-container img {
    width: 100%; /* Ancho igual al 100% del ancho del contenedor */
    height: auto; /* Altura automática para mantener la proporción de la imagen */
}

/* Estilos para imágenes en dispositivos móviles */
@media only screen and (max-width: 768px) {
    .image-container {
        width: 100vw; /* Ancho igual al 100% del ancho de la ventana del navegador */
        height: 100vh; /* Altura igual al 100% del alto de la ventana del navegador */
        display: flex; /* Utilizar flexbox para centrar horizontal y verticalmente */
        justify-content: center; /* Centrar horizontalmente */
        align-items: center; /* Centrar verticalmente */
        overflow: hidden; /* Evitar que la imagen desborde el contenedor */
        background: black; /* Fondo negro */
    }

    .image-container img {
        max-width: 100%; /* Ancho máximo igual al 100% del ancho del contenedor */
        height: auto; /* Altura automática para mantener la proporción de la imagen */
        border-radius: 10px;
        object-fit: cover; /* La imagen se agrandará lo suficiente para cubrir todo el contenedor */
    }
}




/* Idea descartada
 @media only screen and (max-width: 768px) {
    .gallery img {
        width: auto; 
        height: 100vh; 
        object-fit: cover; 
        border-radius: 10px;
        overflow: hidden;
    }

    .image-container {
        width: 100%; 
        height: 100vh; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        overflow: hidden; 
    }
} */


